<% content_for :custom_html_class do %>fixed<% end %>
<% content_for :custom_body_class do %>fixed<% end %>

<% content_for :contextual_menu_items do %>
    <li><a href="#" data-toggle="modal" data-target="#instructions-modal">Instructions pour la transcription</a></li>
<% end %>

<%= simple_form_for @page, html: { class: "transcription-form" } do |f| %>

      <div class="row editor">
        <div class="row-same-height row-full-height">
            <div class="col-xs-6 col-xs-height col-full-height col-scan">
              <div class="scanned-image-container">
                <%# Do not load archive.org's iframe during tests as it not in the scope of tests, and can cause timeouts %>
                <% if !Rails.env.test? %>
                    <iframe class="scanned-image" src="<%= @page.viewer_url %>"></iframe>
                <% end %>
              </div>
            </div>
            <div class="col-xs-6 col-xs-height col-full-height col-input">
              <%= f.trix_editor :content %>
            </div>
        </div>
      </div>

      <div class="pull-right bottom-bar">
        <% submit_label = @page.reviewer == current_user ? 'Valider cette page comme correcte' : 'Envoyer cette page pour relecture' %>
        <%= f.button :submit, 'Enregistrer les changements', class: 'btn-default', id: 'save-as-draft', name: 'save-as-draft'  %>
        <%= f.button :submit, submit_label, class: 'btn-info', id: 'commit', name: 'commit'  %>
      </div>

<% end %>

<div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="instructions-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="instructions-modal-label">Instructions pour la transcription</h4>
      </div>
      <div class="modal-body">
        <p>Bienvenue sur l'interface de transcription.</p>
        <p>Elle se compose:</p>
        <ul>
          <li>d'une vue de la page scannée (sur la gauche)</li>
          <li>d'un éditeur de texte (sur la droite)</li>
          <li>de boutons pour l'enregistrement en tant que brouillon et l'envoi pour relecture (en bas)</li>
        </ul>
        <p>La page scannée comporte deux colonnes. Merci de transcrire la colonne de gauche, puis la colonne de droite.</p>
        <p>Dans chaque colonne, la transcription commence en haut à gauche et se termine en bas à droite.</p>
        <p>Chaque article se termine par un retour à la ligne.</p>
        <p>Il n'est pas nécessaire de transcrire les racines situées en en-tête de chaque colonne, ni le numéro de page.</p>
        <p>Veuillez transcrire les tirets par le caractère "-" (i.e. symbole 'moins' sur le pavé numérique).</p>
        <p>Pour saisir les virgules, utiliser le clavier français.</p>
        <p>Le seul style de texte à reproduire est l'italique. Pour cela, utiliser le bouton situé dans la barre d'outils de l'éditeur ou le raccourci-clavier (CTRL+I / ⌘+I).</p>
        <p>Il est recommandé de désactiver la fonction "Majuscules automatiques" présente sur les terminaux mobiles.</p>
        <p>Ces instructions peuvent être consultées à tout moment à partir du lien situé dans la barre supérieure.</p>
        <p>En cas de questions, n'hésitez pas à nous solliciter à l'aide du lien "Contact" situé à droite de la barre supérieure.</p>
        <p>Merci encore pour votre participation et bonne transcription !</p>
        <p>L'équipe du Projet Kazimirski</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-dismiss" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>