<% content_for :contextual_menu_items do %>
    <li><a href="#" data-toggle="modal" data-target="#instructions-modal">Instructions pour la transcription</a></li>
<% end %>

<% content_for :custom_js do %>
    <script type="text/javascript">
        // https://gist.github.com/michelcmorel/6725279
        // add html elements inside content editable area, credits Tim Down on stackoverflow.
        // original post at:http://stackoverflow.com/questions/6690752/insert-html-at-caret-in-a-contenteditable-div
        function pasteHtmlAtCaret(html, selectPastedContent) {
            var sel, range;
            if (window.getSelection) {
                // IE9 and non-IE
                sel = window.getSelection();
                if (sel.getRangeAt && sel.rangeCount) {
                    range = sel.getRangeAt(0);
                    range.deleteContents();

                    // Range.createContextualFragment() would be useful here but is
                    // only relatively recently standardized and is not supported in
                    // some browsers (IE9, for one)
                    var el = document.createElement("div");
                    el.innerHTML = html;
                    var frag = document.createDocumentFragment(), node, lastNode;
                    while ( (node = el.firstChild) ) {
                        lastNode = frag.appendChild(node);
                    }
                    var firstNode = frag.firstChild;
                    range.insertNode(frag);

                    // Preserve the selection
                    if (lastNode) {
                        range = range.cloneRange();
                        range.setStartAfter(lastNode);
                        if (selectPastedContent) {
                            range.setStartBefore(firstNode);
                        } else {
                            range.collapse(true);
                        }
                        sel.removeAllRanges();
                        sel.addRange(range);
                    }
                }
            } else if ( (sel = document.selection) && sel.type != "Control") {
                // IE < 9
                var originalRange = sel.createRange();
                originalRange.collapse(true);
                sel.createRange().pasteHTML(html);
                var range = sel.createRange();
                range.setEndPoint("StartToStart", originalRange);
                range.select();
            }
        }

        var keyPressHandler = function (e) {
            e = e || window.event;
            var charCode = e.which || e.keyCode;
            var charTyped = String.fromCharCode(charCode);

            // Autocorrect logic
            // -----------------

            // Commas
            // ******
            // Synonyms are usually separated by commas. They should appear
            // in the order in which they are typed, i.e. left-to-right.
            // But by default, BiDi algorithm treats the list of synonyms
            // as a right-to-left sentence, and the words order is reversed.
            // To fix this, we insert a left-to-right mark before each comma character
            // in order to force a left-to-right word sequence.
            if (charTyped === ',') {
                // Insert a left-to-right mark (U+200E) then the actual comma
                pasteHtmlAtCaret('&#x200E;,', false);
                e.preventDefault();
            }

            // Index numbers
            // *************
            // Make sure index numbers (ex: '4.') following an arabic/right-to-left word
            // are treated as left-to-right elements.
            // Otherwise, the BiDi algorithm thinks it belongs to the right-to-left word and places it wrong.
            // Further reading: https://www.w3.org/International/articles/inline-bidi-markup/
            else if ( /^\d+$/.test(charTyped) ) { //0-9 only
                pasteHtmlAtCaret('&#x200E;' + charTyped + '. ' , false);
                e.preventDefault();
            }

            else if (charTyped === '-') {
                // Replace minus (on numpad or main keyboard) by long dash
                pasteHtmlAtCaret('&#x2014;', false);
                e.preventDefault();
            }
        };

        var keyUpHandler = function (e) {
            // If current font style is italic, reset it when starting a new paragraph
            if (e.keyCode === 13) {
                var element = document.querySelector("trix-editor")
                element.editor  // is a Trix.Editor instance
                element.editor.deactivateAttribute("italic");
            }
        };

        var bindKeyHandlers = function () {
            $('trix-editor').on("keypress", keyPressHandler);
            $('trix-editor').on("keyup", keyUpHandler);
        };


        // Display the transcription instructions on first use.
        jQuery(document).ready(function() {
            if(!Cookies.get('transcriptionInstructionsDismissed')) {
                Cookies.set('transcriptionInstructionsDismissed', true);
                jQuery('#instructions-modal').modal();
            }

            bindKeyHandlers();
        });
    </script>
<% end %>

<%= simple_form_for @page, html: { class: "transcription-form" } do |f| %>

      <div class="row editor">
        <div class="row-same-height row-full-height">
            <div class="col-xs-6 col-xs-height col-full-height col-scan">
              <div class="scanned-image-container">
                <iframe class="scanned-image" src="<%= @page.viewer_url %>"></iframe>
              </div>
            </div>
            <div class="col-xs-6 col-xs-height col-full-height col-input">
              <%= f.trix_editor :content %>
            </div>
        </div>
      </div>

      <div class="pull-right bottom-bar">
        <% submit_label = @page.reviewer == current_user ? 'Valider cette page comme correcte' : 'Envoyer cette page pour relecture' %>
        <%= f.button :submit, 'Enregistrer les changements', class: 'btn-default', name: 'save_as_draft'  %>
        <%= f.button :submit, submit_label, class: 'btn-info', name: 'commit'  %>
      </div>

    <div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="instructions-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="instructions-modal-label">Instructions pour la transcription</h4>
          </div>
          <div class="modal-body">
            <p>Bienvenue sur l'interface de transcription.</p>
            <p>Elle se compose:</p>
            <ul>
              <li>d'une vue de la page scannée (sur la gauche)</li>
              <li>d'un éditeur de texte (sur la droite)</li>
              <li>de boutons pour l'enregistrement en tant que brouillon et l'envoi pour relecture (en bas)</li>
            </ul>
            <p>La page scannée comporte deux colonnes. Merci de transcrire la colonne de gauche, puis la colonne de droite.</p>
            <p>Dans chaque colonne, la transcription commence en haut à gauche et se termine en bas à droite.</p>
            <p>Chaque article se termine par un retour à la ligne.</p>
            <p>Il n'est pas nécessaire de transcrire les racines situées en en-tête de chaque colonne, ni le numéro de page.</p>
            <p>Veuillez transcrire les tirets par le caractère "-" (i.e. symbole 'moins' sur le pavé numérique).</p>
            <p>Pour saisir les virgules, utiliser le clavier français.</p>
            <p>Le seul style de texte à reproduire est l'italique. Pour cela, utiliser le bouton situé dans la barre d'outils de l'éditeur ou le raccourci-clavier (CTRL+I / ⌘+I).</p>
            <p>Il est recommandé de désactiver la fonction "Majuscules automatiques" présente sur les terminaux mobiles.</p>
            <p>Ces instructions peuvent être consultées à tout moment à partir du lien situé dans la barre supérieure.</p>
            <p>En cas de questions, n'hésitez pas à nous solliciter à l'aide du lien "Contact" situé à droite de la barre supérieure.</p>
            <p>Merci encore pour votre participation et bonne transcription !</p>
            <p>L'équipe du Projet Kazimirski</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

<% end %>