<% content_for :contextual_menu_items do %>
    <li><a href="#" data-toggle="modal" data-target="#instructions-modal">Instructions pour la transcription</a></li>
<% end %>

<% content_for :custom_js do %>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            if(!Cookies.get('transcriptionInstructionsDismissed')) {
                Cookies.set('transcriptionInstructionsDismissed', true);
                jQuery('#instructions-modal').modal();
            }

            $('#wysiwyg').summernote(
                    {
                        lang: 'fr-FR',
                        // http://summernote.org/deep-dive/
                        toolbar: [
                                ['style', ['italic']]
                        ],
                        callbacks: {
                            // Hack to set 100% height
                            // https://github.com/summernote/summernote/issues/451

                            onInit: function() {
                                //return;
                                var ne = $('div.note-editable');
                                var ned = $('div.note-editor');
                                var nea = $('div.note-editing-area');
                                ned.css('position', 'absolute');
                                ned.css('top', 0);
                                ned.css('right', 0);
                                ned.css('bottom', 0);
                                ned.css('left', 0);
                                ne.css('position', 'absolute');
                                ne.css('top', 40);
                                ne.css('right', 0);
                                ne.css('bottom', 0);
                                ne.css('left', 0);

                                nea.css('position', 'static');
                            }
                        }
                    }
            );
        });
    </script>
<% end %>

<%= simple_form_for @page do |f| %>

      <div class="row editor">
        <div class="row-same-height row-full-height">
            <div class="col-xs-6 col-xs-height col-full-height col-scan">
              <div class="scanned-image-container">
                <iframe class="scanned-image" src="<%= @page.viewer_url %>"></iframe>
              </div>
            </div>
            <div class="col-xs-6 col-xs-height col-full-height col-input">
              <%= f.input :content, input_html: { class: 'input-lg', id: 'wysiwyg' }, wrapper: false, label: false %>
            </div>
        </div>
      </div>

      <div class="pull-right bottom-bar">
        <% submit_label = @page.reviewer == current_user ? 'Valider cette page comme correcte' : 'Envoyer cette page pour relecture' %>
        <%= f.button :submit, 'Enregistrer les changements', class: 'btn-default', name: 'save_as_draft'  %>
        <%= f.button :submit, submit_label, class: 'btn-info', name: 'commit'  %>
      </div>

    <div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="instructions-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="instructions-modal-label">Instructions pour la transcription</h4>
          </div>
          <div class="modal-body">
            <p>Bienvenue sur l'interface de transcription.</p>
            <p>Elle se compose:</p>
            <ul>
              <li>d'une vue de la page scannée (sur la gauche)</li>
              <li>d'un éditeur de texte (sur la droite)</li>
              <li>de boutons pour l'enregistrement en tant que brouillon et l'envoi pour relecture (en bas)</li>
            </ul>
            <p>La page scannée comporte deux colonnes. Merci de transcrire la colonne de gauche, puis la colonne de droite.</p>
            <p>Dans chaque colonne, la transcription commence en haut à gauche et se termine en bas à droite.</p>
            <p>Chaque article se termine par un retour à la ligne.</p>
            <p>Il n'est pas nécessaire de transcrire les racines situées en en-tête de chaque colonne, ni le numéro de page.</p>
            <p>Le seul style de texte à reproduire est l'italique. Pour cela, utiliser le bouton situé dans la barre d'outils de l'éditeur.</p>
            <p>Ces instructions peuvent être consultées à tout moment à partir du lien situé dans la barre supérieure.</p>
            <p>En cas de questions, n'hésitez pas à nous solliciter à l'aide du lien "Contact" situé à droite de la barre supérieure.</p>
            <p>Merci encore pour votre participation et bonne transcription !</p>
            <p>L'équipe du Projet Kazimirski</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

<% end %>