<%= simple_form_for @page do |f| %>

      <div class="row editor">
        <div class="row-same-height row-full-height">
            <div class="col-xs-6 col-xs-height col-full-height col-scan">
              <div class="scanned-image-container">
                <iframe class="scanned-image" src="<%= @page.viewer_url %>"></iframe>
              </div>
            </div>
            <div class="col-xs-6 col-xs-height col-full-height col-input">
              <%= f.input :content, input_html: { class: 'input-lg' }, wrapper: false, label: false %>
            </div>
        </div>
      </div>

      <div class="pull-right bottom-bar">
        <% submit_label = @page.reviewer == current_user ? 'Valider cette page comme correcte' : 'Envoyer cette page pour relecture' %>
        <%= f.button :submit, 'Enregistrer les changements', class: 'btn-default', name: 'save_as_draft'  %>
        <%= f.button :submit, submit_label, class: 'btn-info', name: 'commit'  %>
      </div>

<% end %>