<!DOCTYPE html>
<html lang="fr" dir="ltr" class="<%= yield :custom_html_class %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projet Kazimirski</title>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= csrf_meta_tags %>
  </head>

  <body class="<%= yield :custom_body_class %>">
    <nav class="navbar navbar-default <%= yield :css_class_navbar %>">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Projet Kazimirski</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="menuNavbar">
          <ul class="nav navbar-right navbar-nav">
            <% if current_user.present? %>
                <%= yield :contextual_menu_items %>
                <li><%= mail_to "contact@kazimirski.fr", "Contact" %></li>
                <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to 'Connexion', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>

  <%= yield %>

    <%= javascript_include_tag "application" %>

    <% if notice.present? || alert.present? %>
      <script>
          PNotify.prototype.options.styling = "bootstrap3";

          // Centering the notification
          // https://github.com/sciactive/pnotify/issues/46
          var stackCenter = {"dir1": "down", "dir2": "right", "firstpos1": 25, "firstpos2": ($(window).width() / 2) - (Number(PNotify.prototype.options.width.replace(/\D/g, '')) / 2)};
          $(window).resize(function(){
              stackCenter.firstpos2 = ($(window).width() / 2) - (Number(PNotify.prototype.options.width.replace(/\D/g, '')) / 2);
          });

          <% if notice.present? %>
              $(function(){
                  new PNotify({
                      type: 'info',
                      text: '<%= notice %>',
                      delay: 3000,
                      animate_speed: 'fast',
                      icon: false,
                      stack: stackCenter
                  });
              });
          <% end %>

          <% if alert.present? %>
              $(function(){
                  new PNotify({
                      type: 'error',
                      text: '<%= alert %>',
                      stack: stackCenter
                  });
              });
          <% end %>
      </script>
  <% end %>

    <% if Rails.env.production? %>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-53233157-5', 'auto');
          ga('send', 'pageview');

      </script>
    <% end %>

  </body>
</html>
