<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet Kazimirski</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default <%= yield :css_class_navbar %>">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Projet Kazimirski</a>
        </div>

        <p class="notice navbar-text"><%= notice %></p>
        <p class="alert navbar-text"><%= alert %></p>

        <ul class="nav navbar-right navbar-nav">
        <% if current_user.present? %>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Connexion', new_user_session_path %></li>
        <% end %>
        </ul>

      </div>
    </nav>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
