<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projet Kazimirski</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default <%= yield :css_class_navbar %>">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Projet Kazimirski</a>
        </div>

        <ul class="nav navbar-right navbar-nav">
        <% if current_user.present? %>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Connexion', new_user_session_path %></li>
        <% end %>
        </ul>

      </div>
    </nav>

    <% if notice.present? || alert.present? %>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">

        <% if notice.present? %>
          <div class="alert alert-info" role="alert"><%= notice %></div>
        <% end %>

        <% if alert.present? %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>

        </div>
      </div>
    <% end %>

  <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
