<div class="container">

<h2>Editer mon compte</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Adresse e-mail en attente de confirmation : <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: 'Mot de passe', autocomplete: "off", hint: "Laisser le champ vide pour ne pas changer le mot de passe.", required: false %>
    <%= f.input :password_confirmation, label: 'Confirmation du mot de passe', required: false %>
    <%= f.input :current_password, label: 'Mot de passe actuel', hint: "Nous avons besoin de votre mot de passe actuel pour valider les changements.", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer" %>
  </div>
<% end %>

<%= link_to "Retour", :back %>

</div>